version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 3
    groups:
      security:
        applies-to: "security-updates"
        patterns:
          - "*"
      functional-minor-patch:
        applies-to: "version-updates"
        update-types: ["minor", "patch"]
        patterns:
          - "*"
