.alert-image-container {
    overflow-x: auto;
    max-width: 100%;
}
.alert-image-container img {
    max-width: 100%;
    max-height: 80vh;
}
/* this is based on the pixels of the image */
@media (max-width: 640px) {
    .alert-image-container img {
        max-width: 200%;
        width: 200%;
        max-height: none;
    }
}